<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">

    <a class="navbar-brand" href="#">
      <!-- <img src="../../../../assets/img/A-64.png" alt="" width="30" height="24"> -->
      <img src="assets/img/A-64.png" alt="" width="30" height="24">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" aria-current="page" [routerLink]="['home']">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['heroes']">Heroes</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['about']">About</a>
        </li>

        <!--se añade campo usuario se activa si el usuario esta autenticado-->
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['usuario']"
          *ngIf="(auth.isAuthenticated$ |async)">Usuario</a>
        </li>
        
  
  
       
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li> -->
      </ul>
      <!-- se añade el nombre al navbar si existe el usuario-->
      <label   *ngIf="auth.user$ | async as user" >{{user.name}}  </label>
      <!-- se añade  la imagen al navbar si existe el usuario-->
      <img *ngIf="auth.user$ | async as user"  src="{{user.picture}}"  style="width: 2.1%; border-radius: 50%;"  >
      <label ></label>
      
      <form class="d-flex" role="search">
        <input class="form-control me-2"  type="search" placeholder="Search" aria-label="Search" #buscarTexto>
        <button  class="btn btn-outline-success" type="submit" (click)="buscarHeroe(buscarTexto.value) "  >Search</button>
      </form>
      <!--boton de ingreso se activa si usario no esta autenticado -->
      <button class="btn btn-primary" style="border-radius: 100%;"
      *ngIf="!(auth.isAuthenticated$ |async)"
      (click)="loginWithRedirect()">Ingresar</button>
       <!--boton de salida se activa si usario esta autenticado -->
      <button class="btn btn-danger" style="border-radius: 100%;"
      *ngIf="(auth.isAuthenticated$ |async)"
      (click)="logout()">Salir</button>
    </div>
  </div>
</nav>